# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnp
.pnp.js

# Production build
build/

# Temporary files
*.tmp
*.swp
*.swo
*.pid

# Miscellaneous
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# IDE/Editor specific files
.vscode/
.idea/

# Generated coverage reports
coverage/

# ESLint cache
.eslintcache

# React Native specific files (if applicable)
.expo/
