@import '../../App.scss';
.login__container {
    @include pageCard;
    .image__container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        background-color: $bgColorLight;
        img {
            background-color: $bgColorLight;
            height: auto;
            width: 90%;
    }
    }
    .form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 45%;
        text-align: center;
        background-color: #FFFFFF;
        h1, form, input {
            background-color: #ffffff;
        }
        img {
            width: 40px;
            height: auto;
        }
        input::placeholder {
            @include textFont;
        }
        h1 {
            margin-top: 1.5em;
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 25px;
            a {
                @include removeDecor;
                background-color: #FFFFFF;
                color: $accentDark;
                @include textFont;
                font-size: 12px;
                align-self: end;
                padding-right: 5px;
            }
            input {
                background-color: $bgColorLight;
                padding: 12px;
                margin: 8px;
                border: none;
                border-radius: 10px;
            }
            .password__container{
                position: relative;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                input {
                    width: 100%;
                    padding-right: 2rem;
                }

                span {
                    background-color: $bgColorLight;
                    position: absolute;
                    right: 0.8rem;
                    top: 55%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    font-size: 1.2rem; 
                    color: #888; 
                    svg{
                        background-color: $bgColorLight;
                    }
                    &:hover {
                        color: #333; 
                    }
                }
            }
            button {
                background-color: $accentDark;
                width: 50%;
                @include buttonStyle;
                
            }
        }

    }
}