@import "../../App.scss";

.forgot-pass__container {
    @include pageCard;
    flex-direction: column;
    align-items: center;
    background-color: $bgColorLight;
    img, p,input, button {
        margin: 25px 0;
    }
    img {
        height: auto;
        width: 30%;
    }
    p {
        @include textFont;
        color: #888;
    }
    input {
        width: 60%;
        background-color: $bgColor;
        padding: 12px;
        margin: 8px;
        border: none;
        border-radius: 10px;
        &::placeholder {
            @include textFont;
        }
    }
    button {
        background-color: $accentDark;
        width: 20%;
        @include buttonStyle
    }
}